.header {
    margin-top: 30px;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    display: flex;
    flex:1;
    max-width: 600px;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
}
.right-section{
    width: 180px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.serach-bar {
    flex:1;
    height: 20px;
    padding-left: 10px;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius:5px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.serach-bar::placeholder{
    font-family: Roboto,Arial, Helvetica, sans-serif;

}

.hamburger-menu{
    margin-left: 20px;
    margin-right: 20px;
    height: 24px;
}

.serch-button {
    height: 24px;
    width:30px;
}

.voice-serch-button {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: lightgray;
    border: none;
    margin-left: 2px;
}
.youtube-menu{
    height: 20px;
}

.search-icon {
    height: 15px;
}

.upload-icon {
    height: 24px;
}

.apps-icon{
    height: 24px;
}

.notification-icon{
    height: 24px;  
}

.curr-user-icon{
    height: 32px;  
    border-radius: 16px;
}